<section id="{{ include.object.title | slugify }}">
    <h1 class="list-title">{{ include.object.title }}</h1>
    {{ include.object.content }}

    <div class="card-container">
        {% assign experiences = site.experiences | sort: 'order' %}
        {% for experience in experiences %}
        {% if experience.include != null %}
        {% include {{ experience.include }} object=experience %}
        {% else %}
        {% include default.html object=experience %}
        {% endif %}
        {% endfor %}
    </div>
</section>