{% capture border-shadow-style %}
style="border: 4px solid rgba({{ skill.color }}); box-shadow: 10px 10px rgba({{ skill.color }}, .6);"
{% endcapture %}
<section id="{{ skill.title | slugify }}" class="skill-section" {{ border-shadow-style }}>
    <h1>{{ skill.title }}</h1>
    {{ skill.content }}

    <div class="skill-tags">
        {% assign skill-tags = skill.skill-tags %}
        {% for skill-tag in skill-tags %}
        <div class="skill-tag">{{ skill-tag }}</div>
        {% endfor %}
    </div>
</section>

<!-- Move styles to proper place -->
<style>
    .skill-section {
        padding: 16px;
        margin-bottom: 24px;
    }

    .skill-tags {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-tag {
        background-color: #DDDDDD;
        color: rgba(0, 0, 0, .6);
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 4px 8px;
        font-weight: bold;
    }
</style>