.experiences-container {
    display: flex;
    gap: 24px;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-section {
    display: flex;
    gap: 64px
}

.list-title {
    font-weight: bold;
    text-align: center;
}

.card {
    padding: 12px;
    margin-bottom: 24px;
    flex: 1;
}

.card-title {
    font-weight: bold;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-tag {
    background-color: #DDDDDD;
    color: rgba(0, 0, 0, .6);
    padding: 4px 8px;
    font-weight: bold;
}

.site-footer h2 {
    margin-bottom: 0;
}

.footer-body {
    font-size: 15px;
    color: #828282;
}

/*
Media Queries
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
*/

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section > img {
        margin: 0 auto;
    }
}
