html {
  background-color: #171717;
  color: #96de5f;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 1.5rem;
}

.main-layout {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 0;
  gap: 3rem;
}

.name-header {
  font-family: "Workbench", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #96de5f; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

.experience-chip {
  font-size: 1.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #96de5f;
  }
}
