@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

:root {
    --background: #050E2D;
    --elevation-1: #0E1633;
    --elevation-1-shadow: 0 8px 4px #050B23;
    --text-body: #CDCFD5;
    --border-highlight: #232B49;
    --accent-blue: #1783E7;
    --accent-yellow: #D0C34B;
}

body {
    background-color: var(--background);
    color: var(--text-body);
}

.site-header {
    background-color: var(--elevation-1);
    border: none;
    box-shadow: var(--elevation-1-shadow);
}

.site-title {
    color: var(--text-body);
}

.site-nav .page-link {
    color: var(--text-body);
}

.home {
    display: flex;
    flex-direction: column;
    margin: -40px 0;
}

.home>section {
    margin: 40px 0;
}

.hero-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.name-text {
    color: var(--accent-blue);
}

.experiences-container {
    margin: 0 0 -24px -24px;
}

.experiences-container>section {
    margin: 0 0 24px 24px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 32px;
}

.list-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 24px;
    font-size: 28px;
}

.card {
    padding: 12px;
    flex: 1;
    background-color: var(--elevation-1);
    border: var(--border-highlight) 1px solid;
    border-radius: 4px;
    box-shadow: var(--elevation-1-shadow);
}

.card-title {
    font-weight: bold;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}

.card-tag {
    background-color: var(--accent-yellow);
    color: #2D2D2D;
    padding: 4px 8px;
    font-weight: bold;
    margin: 4px;
    border-radius: 4px;
}

.site-footer {
    border: none;
}

.site-footer h2 {
    margin-bottom: 0;
}

.footer-body {
    font-size: 15px;
    color: #828282;
}

.contact-form {
    display: block;
    margin: 0 auto;
}

/*
Media Queries
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
*/

@media (max-width: 768px) {
    .home {
        margin: -32px 0;
    }

    .home>section {
        margin: 32px 0;
    }

    .hero-container {
        flex-direction: column-reverse;
    }

    .hero-container>img {
        /* margin: 64px auto; */
        margin: 0 auto 64px auto;
    }

    .experiences-container {
        flex-direction: column;
    }

    .list-title {
        margin-bottom: 16px;
    }
}